<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FunToy | Home</title>
</head>
<body>
<div class="container">
    <h1>Bem-vindo(a) à FunToy!</h1>
    <p>Aqui estão os endpoints disponíveis na aplicação:</p>
    <ul>
        <li><a href="/listar">Listar Brinquedos</a></li>
        <li><a href="/fornecedores">Listar Fornecedores</a></li>
    </ul>
</div>
</body>
</html>